html{background-color:#78226D;}
.Page_Container{background-color:#E870A0;}

/* These Classes are for the Stick header for Navigation */
.Navigation_Container{position:sticky;top: 0px; background-color:#E870A0; border: 4px solid #78226D; border-left:none;border-right:none; border-top: none;}
.Navigation_Buttons{display:flex;justify-content:center; padding: 10px;}
.Navigation_Home {background-color:#FDD50B;}
.Navigation_Lore {background-color:#FDD50B;}
.Navigation_Games {background-color:#FDD50B;}
.Navigation_Spacing{padding-left: 10px;padding-right: 10px;}

/*These Classes are Used for the First Page which has a Carousel */
.Home_Title{text-align:center;}
.Home_Subtext{text-align: center;}
.Home_Footer{text-align:center;border-top: 4px solid #78226D; margin-bottom: 0px;}
.Home_CarouselImage{width:30%;padding-top: 20px;}
.Home_carousel{padding-bottom: 20px; border-top: 4px solid #78226D; background-color:#FDD50B;}
.Home_CarouselContainer{display: flex; flex-direction: row-reverse; justify-content: space-around;}
.Home_CarouselText{padding-top: 20px; margin-left: 12px;}
.Home_CarouselHead{text-align: center;}
.Home_Description{}
.Home_TextContainer{display: flex;padding-left: 12px;flex-direction: column;}

/*These Classes are Used for the Second Page which has an Acordian */
.Past_HTML{background-image: url(https://as01.epimg.net/meristation/imagenes/2021/06/15/noticias/1623741642_592836_1623774951_portada_normal.jpg); background-size:cover; background-position: bottom}
.Past_Title{text-align: center;}
.Past_Footer{text-align:center;}
.Past_Content{display: flex;}
.Past_ImageContainer{display: flex;flex-direction: column;}
.Past_Image{width: 200px;}

/*These Classes are Used for the Third Page which has Cards*/
.Game_Title{text-align: center;}
.Game_Footer{text-align:center;}
.Game_Cards{display:flex; flex-wrap:wrap;}

/*These Classes are Used for the Footer */
.Footer_Container{background-color:#0D8129; position:fixed; bottom: 0; width:100%;}
.Navigation_Footer{background-color:#78226D; display: flex; justify-content: center;padding-top: 28px;}